.projectContainer {
	display: inline-block;
	text-align: center;
	width: 80%;
}

.project-accueil {
	display: inline-block;
	height: 100%;
	position: relative;
}

.project-caption {
	position: absolute;
	width: 100%;
	left: 10px;
	bottom: 0;
	padding: 5%;
	z-index: 1;
	display: none;
	text-align: center;
}

.one-project {
	margin-left: 20px;
}

h2, h3 {
	color: black;
}

h3 {
	flex: 1;
	font-size: 1.4rem;
	color: #425045;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 1px;
}

.projectContainer img {
	cursor: pointer;
}

@media (min-width: 1370px) {
	.projectContainer img {
		width: 400px;
	}
}

@media (max-width: 1369px) and (min-width: 981px) {
	.projectContainer img {
		width: 300px;
	}
}

@media (min-width: 1601px) {
	.projectContainer {
		display: inline-block;
		align-items: center;
	}
}

@media (max-width: 980px) {
	.projectContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.one-project {
		margin-left: 20px;
		width:200px;
	}

	.projectContainer img {
		cursor: pointer;
		width: 200px;
	}
}