<div id="project">
	<div class="titre">
		<h1>Portfolio</h1>
	</div>
	<div class="projectContainer">
		<div *ngFor="let projet of projects" class="project-accueil">
			<div routerLink="/portfolio/{{projet._id}}" id="{{projet._id}}" (mouseenter)="display(projet._id)"
			     (mouseleave)="hide(projet._id)" class="one-project">
				<div class="project-caption">
					<h2>{{projet.titre}}</h2>
					<h3><span *ngFor="let categorie of projet.categories">{{categorie.name}} </span></h3>
				</div>
				<img class="vignette"
				     src="/uploads/{{projet.miniature.name}}.{{projet.miniature.extension}}"
				     alt="image">
			</div>
		</div>
	</div>
	<div class="lienProject">
		<a routerLink="/portfolio">Découvrez tous mes projets</a>
		<img height="15px" src="../../../assets/img/arrowright.png" alt="fleche de droite">
	</div>
</div>