<div id="project">
	<div class="titre">
		<h1>Mes Projets</h1>
	</div>
	<div class="projectContainer">
		<div class="projects">
			<a *ngFor="let projet of projects" class="link-img" routerLink="/projects/{{projet._id}}">
				<div (mouseover)="display()" (mouseleave)="hide()" class="project-accueil">
					<div [@enterDisplay]="enter"  #caption class="project-caption">
						<h2>{{projet.titre}}</h2>
						<h3>{{projet.categorie}}</h3>

					</div>
					<img [@enterOpacity]="enter" #image class="vignette" height="300px"
					     src="/uploads/{{projet.miniature.name}}.{{projet.miniature.extension}}"
					     alt="image">
				</div>
			</a>
		</div>
	</div>
	<div class="lienProject">
		<a routerLink="projects">Découvrez tous mes projets</a>
		<img height="15px" src="../../../assets/img/arrowright.png" alt="fleche de droite">
	</div>
</div>