.project-accueil {
	height: 100%;
	position: relative;
}

.project-caption {
	position: absolute;
	left: 10px;
	bottom: 0;
	padding: 5%;
	z-index: 1;
	display: none;
}

.projectContainer {
	display: flex;
	align-items: center;
}

.one-project {
	margin-left: 20px;
}

.one-project img {
	cursor: pointer;
}

h2, h3 {
	color: black;
}

h3 {
	flex: 1;
	font-size: 1.4rem;
	color: #425045;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 1px;
}