<header id="header">
	<nav id="home">
		<div class="nav-wrapper transparent">
			<a href="/" class="brand-logo left"><img
					src="../../assets/img/logo-navheader.png" alt="manon delage"></a>
			<a href="#" data-activates="mobile-demo" class="right button-collapse"><i style="color: #29746e;" class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/#home" class="">ACCUEIL</a></li>
				<li><a href="/#competence" class="">COMPETENCE</a></li>
				<li><a href="/projects" class="">PORTFOLIO</a></li>
				<li><a href="/#apropos" class="">A PROPOS</a></li>
				<li><a href="/#contact" class="">CONTACT</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/#home" class="">ACCUEIL</a></li>
				<li><a href="/#competence" class="">COMPETENCE</a></li>
				<li><a href="/projects" class="">PORTFOLIO</a></li>
				<li><a href="/#apropos" class="">A PROPOS</a></li>
				<li><a href="/#contact" class="">CONTACT</a></li>
			</ul>
		</div>
	</nav>
	<app-headertitle></app-headertitle>
</header>
