<nav class="nav-footer">
	<div class="nav-wrapper">
		<div class="left-nav-footer">
			<a href="/#home" class="brand-logo left"><img
					src="../../assets/img/logo-footer.png" alt="manon delage"></a>
			<ul id="nav-mobile" class="hide-on-med-and-down">
				<li><a href="/#home" class="">ACCUEIL</a></li>
				<li><a href="/#competence" class="">COMPETENCE</a></li>
				<li><a href="/projects" class="">PORTFOLIO</a></li>
				<li><a href="/#apropos" class="">A PROPOS</a></li>
				<li><a href="/#contact" class="">CONTACT</a></li>
			</ul>
		</div>
		<div class="right-nav-footer">
			<a style="float: right; color: #605e5f; text-decoration: underline;" href="">MENTIONS LEGALS</a>
		</div>
	</div>
</nav>