input {
	background: white !important;
	border-radius: 5px !important;
}

.input-field label {
	padding-left: 5px;
}

.input-field label.active {
	margin-top: -5px !important;
	color: white;
}

textarea {
	border-radius: 5px;
	background: white;
	border: none;
}

#form-contact {
	margin: auto;
	width: 50%;
	min-height: 300px;
}

.send-success {
	width: 75%;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
	background-color: #d4edda;
	margin-bottom: 8px;
}

.send-error {
	width: 80%;
	margin: auto;
	border-radius: 5px;
	padding: 10px;
	background-color: #f8d7da;
	margin-bottom: 8px;
}