<nav class="nav-footer">
	<div class="nav-wrapper">
		<div class="left-nav-footer">
			<a routerLink="" fragment="home" class="brand-logo left"><img
					src="/assets/img/logo-footer.png" alt="manon delage"></a>
			<ul id="nav-mobile" class="hide-on-med-and-down">
				<li><a style="background: #393738 !important;" routerLink="/" fragment="home">ACCUEIL</a></li>
				<li><a style="background: #393738 !important;" routerLink="/" fragment="competence">COMPETENCE</a></li>
				<li><a style="background: #393738 !important;" routerLink="/" fragment="apropos">A PROPOS</a></li>
				<li><a style="background: #393738 !important;" routerLink="/portfolio">PORTFOLIO</a></li>
				<li><a style="background: #393738 !important;" routerLink="/" fragment="contact">CONTACT</a></li>
			</ul>
		</div>
		<div class="right-nav-footer">
			<a style="float: right; color: #605e5f; text-decoration: underline;" href="">MENTIONS LEGALS</a>
		</div>
	</div>
</nav>