<header id="header">
	<nav #nav id="nav-princ">
		<div class="nav-wrapper transparent">
			<a routerLink="" fragment="home" class="brand-logo left header"><img
					src="../../../assets/img/logo-navheader.svg" alt="manon delage"></a>
			<a data-activates="mobile-demo" class="right button-collapse"><i style="color: #29746e;"
			                                                                 class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a routerLink="" fragment="home">ACCUEIL</a></li>
				<li><a routerLink="" fragment="competence">COMPETENCE</a></li>
				<li><a routerLink="/projects">PORTFOLIO</a></li>
				<li><a routerLink="" fragment="apropos">A PROPOS</a></li>
				<li><a routerLink="" fragment="contact">CONTACT</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a routerLink="" fragment="home">ACCUEIL</a></li>
				<li><a routerLink="" fragment="competence-mobile">COMPETENCE</a></li>
				<li><a routerLink="/projects">PORTFOLIO</a></li>
				<li><a routerLink="" fragment="apropos">A PROPOS</a></li>
				<li><a routerLink="" fragment="contact">CONTACT</a></li>
			</ul>
		</div>
	</nav>
	<app-headertitle></app-headertitle>
</header>