@media (max-width: 1600px) and (min-width:980px) {
    nav#nav-princ {
        position: fixed;
        box-shadow: white;
        -webkit-box-shadow: none;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        z-index: 1000;
        height: 80px;
        font-family: RalewayRegular;
        background: white;
    }

    .brand-logo.header img {
        width:220px;
    }

    .brand-logo.header-mobile img {
        display: none;
    }

    nav ul li {
        position: relative;
    }

    nav ul li a {
        text-decoration: none;
    }

    nav ul li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #C59D59;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    nav ul li a:hover {
        background: none !important;
    }

    nav ul li.active:hover {
        border-bottom: none;
    }

    nav ul li a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    nav ul li.active {
        background: none !important;
        color: #2C746F;
        border-bottom: 2px solid #C59D59;
    }

    header .header-sans-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    header .header-sans-nav::after {
        content: url("../img/trait-head-comp.png");
        position: absolute;
        left: 20px;
        margin-top: 30%;
    }

    #title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title-texte {
        text-align: center;
        font-size: 35px;
    }

    .title-texte h3 {
        font-family: RalewaySemiBold;
        font-size: 2.7rem;
    }

    .title-texte p {
        font-family: RalewayRegular;
    }

    #competence-mobile {
        display: none;
    }

    #competence {
        margin: 70px 0 80px 0;
    }

    #competence .titre {
        text-align: center;
    }

    #competence .titre::after {
        content: url("../img/soustitre.png");
    }

    .three-comptence img {
        width:73%;
    }


    #competence .three-comptence {
        display: flex;
        margin-top: 70px;
        justify-content: space-around;
        align-items: center;
    }

    .one-competence {
        display: flex;
        width: 250px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .one-competence p {
        margin-top: -15px;
        font-family: RalewayLight;
    }

    .one-competence h3 {
        margin-top: 0;
        font-family: DosisMedium;
    }

    #apropos {
        position: relative;
        padding: 30px 0 30px 0;
        background: #29746e;
        color: white;
    }

    #apropos h2, #apropos h3 {
        padding: 10px;
        font-family: RalewaySemiBold;
    }

    #apropos p {
        padding: 10px;
        font-family: RalewayLight;
    }

    #apropos img {
        position: relative;
        z-index: 100;
    }

    #apropos::before {
        z-index: 1;
        content: url("../img/trait-apropos.png");
        position: absolute;
        top: 0;
        left: 0;
    }

    #apropos::after {
        z-index: -1;
        content: url("../img/trait-vertapropos.png");
        position: absolute;
        right: 40px;
        margin-top: -2%;
    }

    .titre {
        font-family: DosisBook;
    }

    #apropos .titre {
        text-align: center;
        margin-bottom: 30px;
    }

    #apropos .titre::after {
        content: url("../img/soustitre-fondvert.png");
    }

    #content-apropos {
        display: flex;
        justify-content: space-around;
    }

    .text-apropos {
        width: 800px;
    }

    .text-apropos h2 {
        color: #2e3231;
    }

    .text-apropos h3 {
        color: #384c41;
        font-size: 30px;
    }

    .text-apropos p {
        font-size: 25px;
    }

    #project {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 50px;
        margin: auto;
    }

    #project a.link-img:nth-child(n+4) {
        display: none;
    }

    #project .titre {
        padding-top: 20px;
        text-align: center;
    }

    #project .titre::after {
        content: url("../img/soustitre.png");
    }

    div.projectContainer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        width: 70%;
    }

    .projects img {
        margin: 5px;
    }

    .lienProject {
        display: block;
        position: relative;
        text-align: right;
        width: 70%;
        margin: 20px 0 60px 0;
    }

    .lienProject a {
        color: #6d6d6d;
        font-size: 30px;
        margin-right: 10px;
        font-family: RalewayLight;
    }

    #contact-mobile {
        display: none;
    }

    #contact {
        position: relative;
        background: #e3d6a1;
        padding: 20px 0 40px 0;
    }

    #contact::before {
        content: url("../img/trait-contact.png");
        position: absolute;
        z-index: 200;
        top: 0;
        left: 0;
        margin-top: -80px;
    }

    #contact::after {
        content: url("../img/trait-footer.png");
        position: absolute;
        margin-top: -140px;
        right: 20px;
    }

    #contact .titre {
        padding-top: 1px;
        text-align: center;
        color: white;
        margin-bottom: 30px;
    }

    #contact .titre::after {
        content: url("../img/soustitrefondjaune.png");
    }

    #form-contact {
        display: flex;
        justify-content: space-evenly;
        font-family: RalewayLight;
    }

    .left-contact, .right-contact {
        display: flex;
        flex-direction: column;
    }

    .left-contact {
        flex: 1;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 20px;
        width:50%;
    }

    .right-contact {
        width: 50%;
        align-items: flex-start;
    }

    #nom, #prenom, #email, #message {
        background: white;
        padding-left: 5px;
        border-radius: 5px;
    }

    #nom, #prenom, #email {
        width: 450px;
        height: 55px;
        font-family: RalewayLight;
    }

    #message {
        height: 266px;
        width: 450px;
        font-family: RalewayLight;
    }

    .label-contact {
        padding-left: 5px;
    }

    #envoyer {
        font-family: DosisMedium;
        background: #c59d58;
        margin-top: -10px;
        margin-bottom: 10px;
        margin-left: -125%;
    }

    #envoyer:hover {
        background: #26a69a;
    }

    .nav-footer {
        background: #393738;
        height: 100px;
        padding: 20px;
    }

    .nav-footer .nav-wrapper {
        display: flex;
        justify-content: space-between;
    }

    #nav-mobile {
        margin-left: 100px;
    }
}