<app-navproject></app-navproject>
<div class="single">
	<div class="project">
		<div class="description">
			<div class="titre-projet">
				<h1>{{ project.titre }}</h1>
			</div>
			<div class="text-intro">
				<h2><span *ngFor="let  categorie of project.categories">{{ categorie.name }} </span></h2>
				<p>{{ project.description }}</p>
			</div>
		</div>
		<div class="imageProjet">
			<img *ngFor="let image of project.images" src="/uploads/{{image.name}}.{{image.extension}}" alt="image">
		</div>
		<div class="navigation-mobile">
			<div class="retour">
				<a routerLink="/portfolio">RETOUR</a>
			</div>
		</div>
	</div>
</div>