<h1>Administration</h1>
<h2>Ajouter un projet</h2>

<div class="row">
	<div class="input-field col s6">
		<input placeholder="Placeholder" id="titre" type="text" [(ngModel)]="project.titre" class="validate">
		<label for="titre">Titre</label>
	</div>
	<div class="input-field col s6">
		<input id="categorie" type="text" class="validate" [(ngModel)]="project.categorie">
		<label for="categorie">Catégorie</label>
	</div>
	<div class="input-field col s12">
		<textarea id="textarea1" class="materialize-textarea" [(ngModel)]="project.description"></textarea>
		<label for="textarea1">Description</label>
	</div>
	<div *ngFor="let image of project.images" class="file-field input-field">
		<div class="input-field col s6">
			<input id="nomimage" type="text" class="validate" [(ngModel)]="image.nom">
			<label for="nomimage">Nom de l'image</label>
		</div>
		<div class="input-field col s6">
			<div class="btn">
				<span>Image</span>
				<input type="file" [(ngModel)]="image.img">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>
	</div>
	{{images|json}}
	<button (click)="project.addImage()" class="btn">Ajouter une image</button><br><br>
	<button (click)="project.addProject()" class="btn">Ajouter le projet</button>
</div>