<div id="competence">
	<div class="titre">
		<h1>Compétences</h1>
	</div>
	<div class="three-comptence">
		<div class="one-competence">
			<img src="../../../assets/img/graphisme.svg" alt="">
			<h3>Graphisme</h3>
			<p>Je vous accompagne dans la création de tout type de projet graphique. Allant du simple flyer au
				développement de votre identitée visuelle complète.</p>
		</div>
		<div class="one-competence">
			<img src="../../../assets/img/webdesign.svg" alt="">
			<h3>Web Design</h3>
			<p>Je réalise le design de votre futur site web, newsletters, landing page ou divers visuels de
				communication online.</p>
		</div>
		<div class="one-competence">
			<img src="../../../assets/img/illustration.svg" alt="">
			<h3>Illustration</h3>
			<p>Besoin d'un illustrateur ? Vous êtes au bon endroit ! Je réaliserais pour vous tout type
				d'illustrations pour booster votre identité.</p>
		</div>
	</div>
</div>
<div id="competence-mobile">
	<div class="titre">
		<h1>Compétences</h1>
	</div>
	<div class="three-comptence">
		<div class="one-competence">
			<img src="../../../assets/img/graphisme.svg" alt="">
			<h3>Graphisme</h3>
			<p>Je vous accompagne dans la création de tout type de projet graphique. Allant du simple flyer au
				développement de votre identitée visuelle complète.</p>
		</div>
		<div class="one-competence">
			<img src="../../../assets/img/webdesign.svg" alt="">
			<h3>Web Design</h3>
			<p>Je réalise le design de votre futur site web, newsletters, landing page ou divers visuels de
				communication online.</p>
		</div>
		<div class="one-competence">
			<img src="../../../assets/img/illustration.svg" alt="">
			<h3>Illustration</h3>
			<p>Besoin d'un illustrateur ? Vous êtes au bon endroit ! Je réaliserais pour vous tout type
				d'illustrations pour booster votre identité.</p>
		</div>
	</div>
</div>