@import "assets/css/style-mobile-1600.css";
@import "assets/css/style-mobile-980.css";
@import "assets/css/header-other.css";
@import "assets/css/materialize.min.css";
@import "assets/css/style.css";
@import "assets/css/fonts.css";
@import "assets/css/slick.css";
@import "assets/css/slick-theme.css";

#toast-container {
    right: 1% !important;
}

div.toast {
    width: 400px !important;
}

* {
    margin-right: 0;
    padding-right: 0;
}