<div id="apropos">
	<div class="titre">
		<h1>Qui suis-je ?</h1>
	</div>
	<div id="content-apropos">
		<div class="img-apropos">
			<img src="../../assets/img/avatar.png" alt="portrait de manon delage">
		</div>
		<div class="text-apropos">
			<h2>MANON DELAGE</h2>
			<h3>GRAPHISTE, WEBDESIGNER, ILLUSTRATRICE</h3>
			<p>Je suis graphiste indépendante sur Bordeaux Métropole, créative et polyvalente, je suis passionnée par le
				design et l'illustration. Je mets mes compétences à votre service afin de mettre en oeuvre un design
				adapté à vos besoins, en accord avec vos objectifs et qui vous permettront de vous démarquer. Mon
				leitmotiv : ma créativité au service de vos projets !</p>
		</div>
	</div>
</div>