<div id="apropos">
	<div class="titre">
		<h1>Qui suis-je ?</h1>
	</div>
	<div id="content-apropos">
		<div class="img-apropos">
			<img src="../../assets/img/avatar.png" alt="portrait de manon delage">
		</div>
		<div class="text-apropos">
			<h2>MANON DELAGE</h2>
			<h3>GRAPHISTE, WEBDESIGNER, ILLUSTRATRICE</h3>
			<p>Je suis graphiste indépendante sur bordeaux Métropole, je suis passionnée par l'image en général, le
				design, la modélisation 3D ainsi que l'illustration. Aujourd'hui mes passions sont à votre service
				afin de mettre en oeuvre un design adapté à vos besoins, en accord avec vos objectifs et qui
				permettra de vous démarquer. mon leitmotiv:<br> Ma créativité au service de vos projets !</p>
		</div>
	</div>
</div>