.all {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url("/assets/img/404.jpg");
	color:white;
}

.text p {
	display: flex;
	flex-direction: column;
	font-family: DosisBook;
}

@media (min-width: 980px) {

	.text {
		display: flex;
		justify-content: flex-end;
		margin-right: 20%;
		padding-top: 15%;
	}

	.text .error {
		line-height: 45px;
		font-size: 81px;
		padding: 0;
		margin: 0;
	}

	.text .autre {
		padding: 0;
		margin: 0;
		font-size: 56px;
	}

	button {
		font-family: DosisMedium;
		background: #c59d58;
		width: 200px;
	}
}

@media (max-width: 980px) {
	.text {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.text .error {
		line-height: 45px;
		font-size: 50px;
		padding: 0;
		margin: 0;
	}

	.text .autre {
		padding: 0;
		margin: 0;
		font-size: 35px;
	}
}